header h1{
    font-size: 3.25em;
    color:white;
    line-height: 1.2;
    letter-spacing: -0.025em;
}

.header{
    padding: 5em 3em 2em 3em;
}

body{
    margin: 0;
    background: rgb(45, 5, 62);
    text-align: center;
}

.logoImg{
    width: 800px;

}
