header.h1{
    font-size: 3.25em;
    color:white;
    background: none;
    line-height: 1.2;
    letter-spacing: -0.025em;
}

.header{
    padding: 5em 3em 2em 3em;
}

body{
    margin: 0;
    background: rgb(79, 39, 94);
    text-align: center;

}

body.h1{
    color: white;
    background: none;
}



.logoImg{
    width: 500px;
}

#nav ul li a.active {
    background-color: white;
    box-shadow: none;
}

#nav.alt ul li a{
    front-size: 0.9em;
}

#nav ul li a {
    transition: font-size 0.2s ease;
    display: inline-block;
    height: 2.25em;
    line-height: 2.25em;
    padding: 0 1.25em;
    border: 0;
    border-radius: 8px;
    box-shadow: inset 0 0 0 1px transparent;
}


